{% extends 'admin_base.html' %}
{% block admin %}


<a class="dashboard_title" href="#">
    <span class="material-icons-round">dashboard_customize</span>
    <h1>Admin Dashboard</h1>
</a>
<div class="admin_panel">
    <!-- admin info -->
    <div class="admin_info">
        <div class="admin_img">
            <img src="{{url_for('static', filename='images/main/blank-profile-pic.png')}}" alt="">

        </div>
        <div class="admin_bio">
            <h3>Hello, {{current_user.author}}</h3>
            <a href="{{ url_for('auth.setting') }}"><span class="material-icons-round">tune</span>Setting</a>
        </div>
    </div>
    <!-- END admin info -->
    <hr class="hr-100">


    <!-- Analysis -->
    <div class="analysis">
        <div>
            <span class="material-icons-round">trending_up</span>
            <p>Blog Impressions:</p>
            <h1>{{current_user.impressions}}</h1>
        </div>
        <div>
            <span class="material-icons-round">sticky_note_2</span>
            <p>Total Posts:</p>
            <h1>{{current_user.posts | length}}</h1>
        </div>
        <div>
            <span class="material-icons-round">question_answer</span>
            <p>Recivied Comments:</p>
            <h1>{{current_user.comments | length}}</h1>
        </div>
    </div>
    <!-- END analysis -->
    <hr class="hr-100">

    <!-- admin btn's -->
    <div class="new_post_btn">
        <a href="{{ url_for('auth.create_post') }}"><span class="material-icons-round">add</span>New Post</a>
        <a href="{{url_for('auth.create_subject')}}"><span class="material-icons-round">subject</span>Subject</a>
    </div>
    <!-- end btn's -->


    <hr class="hr-100">
    <!-- Pre Posts -->
    <div class="pre_posts">
        <h1>Published Posts</h1>
        {% if posts %}
        {% for post in posts %}
        <div class="pre_tab">
            <div class="title">
                <a href="#">
                    <h3>{{post.title}}</h3>
                    <p>{{post.subtitle}}</p>
                </a>
            </div>
            <hr class="line">
            <div class="btn_sec">
                <h3><span class="material-icons-round">schedule</span>{{post.created_at.strftime('%H:%M · %B %Y')}}</h3>
                <h3><span class="material-icons-round">visibility</span>{{post.views}}</h3>
                <h3><span class="material-icons-round">mode_comment</span>{{ post.comments|length}}</h3>
                <a href="{{ url_for('auth.edit_post', post_id=post.id) }}">
                    <span class="material-icons-round">edit_note</span>
                    <h3>Edit</h3>
                </a>
                <a href="#" class="delete-post" data-post-id="{{ post.id }}">
                    <span class="material-icons-round">disabled_by_default</span>
                    <h3>Delete</h3>
                </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <!-- end pre posts -->
</div>



{% endblock %}