{% extends 'base.html' %}

{% include 'admin_header.html' %}
{% block content %}


<div class="admin_main">
    
    <div class="admin_sec">
        <a class="dashboard_title" href="{{ url_for('auth.admin_dashboard') }}">
            <span class="material-icons-round">arrow_back</span>
            <h1>back</h1>
        </a>
        <div class="admin_panel">
            <h1>Create Subject</h1>
            <div class="new_subject">
                <form method="POST" action="{{ url_for('auth.create_post') }}">
                    {{ form.hidden_tag() }}
                    {{ form.title(class="form_string") }}
                    {{ form.subtitle(class="form_string") }}
                    <!-- Render the CKEditor field -->
                    {{ form.body(class="ckeditor") }}
                    {{ form.submit(class="form_btn") }}   
                </form>
                {{ ckeditor.config(name='body') }}
            </div>
        </div>
    </div>
</div>



{% endblock %}





