{% extends 'admin_base.html' %}
{% block admin %}

<a class="dashboard_title" href="{{ url_for('auth.admin_dashboard') }}">
    <span class="material-icons-round">arrow_back</span>
    <h1>back</h1>
</a>
<div class="admin_panel">
    <h1>Create Subject</h1>
    <div class="new_subject">
        <form method="POST" action="{{ url_for('auth.create_subject') }}">
            {{ form.hidden_tag() }}
            {{ form.name(class="form_string")}}
            {{ form.description(class="form_text")}}
            {{ form.submit(class="form_btn")}}
        </form>
    </div>
    <div class="pre_subject">
        {% if subjects %}
        {% for subject in subjects %}
        <div class="subject_tab">
            <h3>{{subject.name}}</h3>
            <p>{{subject.description}}</p>
            <hr>
            <div class="sub_btn">
                <a href="{{ url_for('auth.edit_subject', subject_id=subject.id) }}">
                    <span class="material-icons-round">edit_note</span>
                    <h3>Edit</h3>
                </a>
                <a href="#" class="delete-subject" data-subject-id="{{ subject.id }}">
                    <span class="material-icons-round">disabled_by_default</span>
                    <h3>Delete</h3>
                </a>
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>
</div>




{% endblock %}