{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}

<div class="login">
    
    <div class="login-table">
        <div class="table-head">
            <h1>{{title}} Page</h1>
        </div>
        <div>
            <form method="POST" action="{{ url_for('auth.login') }}">
                {{ form.hidden_tag() }}
                <div>
                    <label for="">Email:</label>
                    {{ form.email(class="form-control") }}
                </div>
                <div>
                    <label for="">Password:</label>
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-remember">
                    <label for="">Remeber me:</label>
                    {{ form.remember(class="") }}
                </div>            
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
        
    </div>

    <div class="auth-link">
        <a href="{{ url_for('auth.register') }}" class="danger"><h3>Don't have an account? Signup! <br>It's quick and easy!</h3></a>
    </div>
    
</div>


{% include 'footer.html' %}
{% endblock %}
