{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}

<div class="login">
    <div class="login-table">
        <div class="table-head">
            <h1>{{title}} Page</h1>
        </div>
        <div>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <div>
                <label for="">Email *</label>
                {{ form.email(class="form-control") }}
            </div>
            <div>
                <label for=""><strong>blogname</strong>.nexlog *</label>
                {{ form.subdomain(class="form-control") }}
            </div>
            <div>
                <label for="">Blog Title *</label>
                {{ form.blog_title(class="form-control") }}
            </div>
            <div>
                <label for="">Blog subtitle</label>
                {{ form.blog_subtitle(class="form-control") }}
            </div>
            <div>
                <label for="">Author *</label>
                {{ form.author(class="form-control") }}
            </div>
            <div>
                <label for="">Password *</label>
                {{ form.password(class="form-control") }}
            </div>
            <div>
                <label for="">Confirm Password *</label>
                {{ form.confirm_password(class="form-control") }}
            </div>
            
            {{ form.submit(class="login-btn") }}
        </form>
    </div>
        
</div>


</div>


{% include 'footer.html' %}
{% endblock %}