{% extends 'admin_base.html' %}
{% block admin %}


<a class="dashboard_title" href="{{ url_for('auth.admin_dashboard') }}">
    <span class="material-icons-round">arrow_back</span>
    <h1>back</h1>
</a>

<div class="admin_panel">
    <h1>Setting</h1>

    <!-- profile tab -->
    <div class="setting-tab">
        <div class="setting-title">
            <span class="material-icons-round">folder_shared</span>
            <h3>Edit Profile</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="setting-btn">
            <a href="{{ url_for('auth.edit_profile') }}">
                <span class="material-icons-round">arrow_forward_ios</span>
            </a>
        </div>
    </div>
    <!-- End profile tab -->

    <!-- Header img  tab -->
    <div class="setting-tab">
        <div class="setting-title">
            <span class="material-icons-round">panorama</span>
            <h3>Edit Header image</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="setting-btn">
            <a href="#">
                <span class="material-icons-round">arrow_forward_ios</span>
            </a>
        </div>
    </div>
    <!-- End header tab -->

    <!-- profile Picture tab -->
    <div class="setting-tab">
        <div class="setting-title">
            <span class="material-icons-round">photo_album</span>
            <h3>Edit Profile Picture</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="setting-btn">
            <a href="#">
                <span class="material-icons-round">arrow_forward_ios</span>
            </a>
        </div>
    </div>
    <!-- End profile picture tab -->


</div>




{% endblock %}