
{% extends 'base.html' %}
{% block content %}

<div class="main">

    <div class="main-table">
        <div class="main-top">
            <div class="login-div">
                <a href="{{ url_for('main.main') }}"><span class="material-icons-round">arrow_back_ios</span>home</a>
            </div>

            
            <div class="login-div">
                <a href="{{ url_for('auth.login') }}"><span class="material-icons-round">login</span>Login</a>
            </div>
        </div>

        <div class="main-info">

            <div class="about-section">
                <div class="about-title">
                    <h1>NEXLOG</h1>
                    <h2>A Modern Blogging Platform</h2>
                    <h3>Innovative. Intuitive. Inspiring.</h3>
                </div>

                <div class="img-sec">
                
                    <img src="{{url_for('static', filename='images/main/blog-img.png')}}">
                </div>
            
                <div class="about-introduction">
                    <p>Welcome to NexLog, a cutting-edge blogging platform meticulously crafted by developer Ali Jafarbeglou. Designed with the modern content creator in mind, NexLog stands as a testament to innovative web development and design. This project, conceptualized and brought to life by Ali, serves as a portfolio piece showcasing his expertise in creating dynamic, user-friendly web applications.</p>
                </div>
            
                <div class="about-features">
                    <h3>Summary of Features</h3>
                    <ul>
                        <li><strong>User-Centric Design:</strong> NexLog features an intuitive user interface that makes navigating, creating, and managing content a seamless experience.</li>
                        <li><strong>Dynamic Content Management:</strong> A robust content management system allows for effortless creation, editing, and organization of blog posts.</li>
                        <li><strong>Customizable User Profiles:</strong> Users can personalize their profiles for unique blog identities.</li>
                        <li><strong>Interactive Commenting System:</strong> An engaging platform for reader and creator interaction.</li>
                        <!-- <li><strong>Advanced Search and Filtering:</strong> Easily discover content with advanced search options.</li> -->
                        <li><strong>Seamless Subdomain Integration:</strong> Dedicated subdomains for each blog enhance personal branding.</li>
                        <li><strong>Analytics and Insights:</strong> Insightful analytics offer a deeper understanding of audience engagement.</li>
                        <li><strong>Responsive Support and Regular Updates:</strong> Continuous evolution to meet user needs with ongoing updates and support.</li>
                    </ul>
                </div>
            
                <div class="about-closing">
                    <p>As a portfolio project, NexLog is more than just a demonstration of technical skills; it's a reflection of Ali Jafarbeglou's passion for creating meaningful and impactful web experiences. While NexLog is not a commercial product, it stands as a powerful example of what's possible in the realm of web development and design.</p>
                </div>
            </div>
            
            
        </div>

    </div>

</div>





    

{% endblock %}

    




<!-- <img src="{{url_for('static', filename='images/main/nexlog-main.png')}}"> -->




<!-- <h1>{{title}}</h1>

    <a href="{{ url_for('auth.register') }}">Register</a> <br>
    <a href="{{ url_for('auth.login') }}">Login</a> -->