{% extends 'base.html' %}
{% block content %}

<div class="main">

    <div class="main-table">
        <div class="main-top">
            <div class="login-div">
                <a href="{{ url_for('main.about') }}"><span class="material-icons-round">contact_support</span>About
                    NEXLOG</a>
            </div>
            <!-- <div class="logo-sec">
                <h3>NEXLOG</h3>
            </div> -->

            <div class="login-div">
                <a href="{{ url_for('auth.login') }}"><span class="material-icons-round">login</span>Login</a>
            </div>
        </div>

        <div class="main-info">


            <div class="img-sec">

                <img src="{{url_for('static', filename='images/main/blog-img.png')}}">
                <h3><span>YourName</span>.nexlog</h3>
            </div>

            <div class="intro-txt">
                <h1>Content management system</h1>
                <h3>Your favorite place to blog and share ideas.</h3>
            </div>

            <div class="register-div">

                <div class="features">
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-free.png')}}">
                        <h3>Free & Protected</h3>
                    </div>
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-editor.png')}}">
                        <h3>Professional Text Editor</h3>
                    </div>
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-editor.png')}}">
                        <h3>Easy Post Categorization</h3>
                    </div>
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-editor.png')}}">
                        <h3>Connect with Audience</h3>
                    </div>
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-free.png')}}">
                        <h3>Insightful Analytics</h3>
                    </div>
                </div>
                <a href="{{ url_for('auth.register') }}"><span class="material-icons-round">app_registration</span>CREAT
                    YOUR BLOG</a>

            </div>



        </div>

    </div>

    <div class="top-blogs">

        <div class="blogs">
            <h1> <span class="material-icons-round">web</span>Top Blogs:</h1>
            {% if top_blogs %}
            {% for blog in top_blogs %}
            <div>
                {% if blog.profile_pic %}
                <img src="{{url_for('static', filename='images/profile_pictures/' + blog.profile_pic)}}">
                {% else %}
                <img src="{{url_for('static', filename='images/main/blank-profile-pic.png')}}">
                {% endif %}
                <a href="{{url_for('blog.blog', user_subdomain=blog.subdomain)}}" target="_blank">
                    <p><span class="material-icons-round">link</span>{{ blog.subdomain }}.nexlog</p>
                    <h3>{{blog.blog_title}}</h3>
                    <h4>{{ blog.blog_subtitle }}</h4>

                </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="posts">
            <h1><span class="material-icons-round">article</span> Top Posts:</h1>
            {% if top_posts %}
            {% for post in top_posts %}
            <div>
                {% if post.post_pic %}
                <img src="{{url_for('static', filename='images/post_pictures/' + post.post_pic)}}">
                {% else %}
                <img src="{{url_for('static', filename='images/main/blank_post_img3.jpg')}}">
                {% endif %}
                <a href="{{url_for('blog.view_post', user_subdomain=post.blog.subdomain, post_id=post.id)}}"
                    target="_blank">
                    <h3>{{post.title}}</h3>
                    <h4>{{ post.subtitle }}</h4>
                </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>





    <div class="main-footer">
        <div class="footer-content">
            <p>©NEXLOG - All rights reserved</p>
            <h3>Developed by:</h3>
            <h3>www.alijafarbeglou.com</h3>

        </div>
    </div>

</div>







{% endblock %}






<!-- <img src="{{url_for('static', filename='images/main/nexlog-main.png')}}"> -->




<!-- <h1>{{title}}</h1>

    <a href="{{ url_for('auth.register') }}">Register</a> <br>
    <a href="{{ url_for('auth.login') }}">Login</a> -->