.blog-header {
    width: 100vw;
    height: 30rem;
    background-color: var(--color-dark);
    position: relative;
}

.blog-header img {
    position: absolute;
    width: 100vw;
    height: 30rem;
    opacity: 0.4;
}

.blog-header .home-icon-header {
    position: absolute;
    left: 2rem;
    top: 1rem;
    z-index: 2;
}

.blog-header .home-icon-header span {
    color: var(--color-white);
    font-size: 2rem;
}

.blog-header .home-icon-header h3 {
    color: var(--color-white);
    font-size: 1rem;
}

.blog-header .blog-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30rem;
}

.blog-title h1 {
    padding: 0.5rem;
    color: var(--color-white);
    font-size: 3rem;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.blog-title h3 {
    padding: 0.5rem;
    color: var(--color-background);
    font-size: 1.2rem;
    text-align: center;
    text-shadow: var(--text-shadow);
}
















/* .blog-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 2rem;
    padding: 2rem;
} */



.blog-container {
    display: grid;
    grid-template-columns: 22rem 66rem;
    min-height: 100vh;
    justify-content: center;
    gap: 1.8rem;
    padding: 2rem;
}

.blog-container h3 {
    font-weight: bold;
    font-size: larger;
}


/* Aside >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.blog-container aside {
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    gap: 1rem;
}


.author-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background);
    border-radius: 100%;
}

.author-img img {
    height: auto;
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 100%;
}





.aside-subject {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: var(--transition-1);
    border-radius: var(--border-radius-1);
}

.aside-subject:hover {
    padding-left: 1rem;
    opacity: 0.6;

}

.flex-row-span h3 {
    font-weight: bold;
    font-size: 0.9rem;
}







.a-pop-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.8rem;
    transition: var(--transition-1);
}

.a-pop-post:hover {
    gap: 1rem;
    color: var(--color-info-dark);
}

.a-pop-post h3 {
    font-size: 0.7rem;
}

.pop-post-img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-light);
    border-radius: var(--border-radius-1);
}

.pop-post-img img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: var(--border-radius-1);
}







/* Posts section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.blog-container section {
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: var(--card-padding);
}


.blog-post-sec {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-light);
    background-color: var(--color-white);
}

.blog-post-sec .post-img {
    width: 16rem;
    height: 12rem;
    object-fit: cover;
    background-color: var(--color-info-dark);
    border-radius: var(--border-radius-1);
}

.blog-post-sec .post-img img {
    width: 16rem;
    height: 12rem;
    object-fit: cover;
}


.blog-post-sec .post-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: .4rem;
}

.blog-post-sec .post-title h1 {
    font-weight: 500;
}

.blog-post-sec .post-title h3 {
    font-weight: 500;
    color: var(--color-dark-variant);
}

.blog-post-sec .post-title .upper {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.blog-post-sec .post-title .post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-post-sec .read-more {
    padding: .3rem .6rem;
    margin: .4rem 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    font-size: smaller;
    width: fit-content;
    transition: var(--transition-1);
}

.blog-post-sec .read-more:hover {
    background-color: var(--color-danger);
    margin-left: .4rem;
}

.blog-post-sec .post-subject {
    padding: .3rem .6rem;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-info-dark);
    background-color: var(--color-background);
    width: fit-content;
    transition: var(--transition-1);
    border-radius: var(--border-radius-1);
}

.blog-post-sec .post-subject:hover {
    color: var(--color-primary);
    background-color: var(--color-light);

}

.blog-post-sec .post-title .post-info span {
    font-size: 1.2rem;
    color: var(--color-info-dark);
}

.blog-post-sec .post-title .post-info p {
    font-size: smaller;
}





/* View Post section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.blog-container .view_post {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

}

.blog-container .view_post .view_post_head {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.blog-container .view_post .view_post_head h1 {
    font-weight: 500;
}

.blog-container .view_post .view_post_head h3 {
    font-weight: 300;
}

.blog-container .view_post_info .post-subject {
    width: fit-content;
    padding: .4rem 0.1rem;
    color: var(--color-info-dark);
    background-color: var(--color-light);
    transition: var(--transition-1);
}

.blog-container .view_post_info .post-subject:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    margin: 0 0 0 .4rem;
}

.blog-container .view_post_info .post_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.blog-container .view_post_info .post_info span,
.blog-container .view_post_info .post_info span p {
    color: var(--color-info-dark);
    font-size: .9rem;
}

.blog-container .view_post .view_post_img img {
    border-radius: var(--border-radius-1);
    border: solid 1px var(--color-light);
}


.blog-container .view_post_body {
    margin-bottom: 6rem;
}

.view_post_comment {
    margin: 0rem 0;
    width: 100%;
    background-color: var(--color-background);
    padding: var(--padding-1);
}

.view_post_comment form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

}


.view_post_comment .user_comments {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 2rem 0;
    margin-bottom: 4rem;
}

.view_post_comment .user_comments h3 {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.view_post_comment .user_comments h3 span {
    font-size: xx-small;
    font-weight: 100;
    color: var(--color-info-dark);
}




.subject_page_title {
    display: flex;
    padding-left: 0.8rem;
    margin: .5rem 0 2rem 0;
    color: var(--color-white);
    background-color: var(--color-dark);
}

.subject_page_title h1 {
    font-size: 1.6rem;
    font-weight: 500;
}


/* SETTING PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.admin_panel .setting-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
    background-color: var(--color-background);
    border-radius: var(--border-radius-1);
    padding: 1rem;
}

.admin_panel .setting-tab .setting-title{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.admin_panel .setting-tab .setting-title span{
    font-size: 2.8rem;
}

.admin_panel .setting-tab .setting-title h3{
    font-size: 1.4rem;
}

.admin_panel .setting-tab .setting-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    width: 6rem;
    background-color: var(--color-dark);
    border-radius: 50px;
    transition: var(--transition-1);
}

.admin_panel .setting-tab .setting-btn a span{
    color: var(--color-white);
}

.admin_panel .setting-tab .setting-btn a:hover{
    box-shadow: var(--box-shadow);
    width: 7rem;
    opacity: 0.8;
}

.admin_panel .setting-tab .setting-btn a:active{
    transform: scale(0.9);
    background-color: var(--color-dark-variant);
}


/* SETTING PAGE >>>>>> */

.admin_panel .edit_profile form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
}





@media only screen and (max-width: 1280px) {
    .blog-title h1 {
        font-size: 2.2rem;
    }

    .blog-title h3 {
        font-size: 1rem;
    }

    .blog-post-sec h1 {
        font-size: 1.4rem;
    }

    .blog-post-sec h3 {
        font-size: 1rem;
    }

    .blog-container {
        display: grid;
        grid-template-columns: 100%;
    }


    .blog-container aside {
        display: none;
    }

}


@media only screen and (max-width: 768px) {
    .blog-title h1 {
        font-size: 1.8rem;
    }

    .blog-title h3 {
        font-size: .8rem;
    }

    .blog-post-sec h1 {
        font-size: 1.2rem;
    }

    .blog-post-sec h3 {
        font-size: .9rem;
    }

    .blog-container section {
        background-color: transparent;
        padding: 0;
    }

    .blog-post-sec {
        flex-direction: column;
    }

    .blog-post-sec .post-img {
        width: 100%;
    }

    .blog-post-sec .post-img img {
        width: 100%;
    }

    .blog-post-sec .post-subject {
        padding: .3rem .6rem;
        font-weight: 500;
        color: var(--color-dark-variant);
        background-color: var(--color-background);
        width: fit-content;
    }

}