.login {
    min-height: 90vh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.login .login-table{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 28rem;
    background-color: var(--color-white);
    color: var(--color-info-dark);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.login .login-table .table-head{
    background-color: var(--color-success);
    width: 100%;
    height: 6rem;
    border-radius: 10px 10px 0px 0px;
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.login form > *{
    display: flex; 
    flex-direction: column;
}

.login .form-control {
    background-color: var(--color-background);
    height: 2.5rem;
    width: 20rem;
    border-radius: 2px;
    padding: 0.5rem;
    transition: var(--transition-1);
}

.login .form-control:hover {
    box-shadow: var(--inner-shadow);
    transition: var(--transition-1);
}


.login .login-btn{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    gap: 1rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius);
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: var(--transition-1);
}

.login .login-btn:hover{
    width: 10rem;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: var(--transition-1);
}


.login .form-remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.login .auth-link{
    text-align: center;
    
}

.login .auth-link a h3{
    transition: var(--transition-1);
}

.login .auth-link a h3:hover{
    text-decoration:underline;
}