/* .container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.2rem;
    grid-template-columns: 12rem 46rem auto;
} */



header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding-left: 4rem;
    width: 100vw;
    height: 4rem;
    top: 0;
    color: var(--color-dark);
    background-color: var(--color-white);
    box-shadow: var(--boxshadow);
}

header .brand a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.8rem;  
    color: var(--color-dark); 
    transition: var(--transition-1); 
}

header .brand a h3{
    font-size: 1.8rem;
}


header .brand a:hover{
    color: var(--color-dark-variant);
    gap: 1rem;
}







footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding-left: 4rem;
    width: 100vw;
    padding: 3rem 0;
    bottom: 0;
    color: var(--color-light);
    background-color: var(--color-dark);
    box-shadow: var(--boxshadow);
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.2rem;
}

footer div h3{
    font-size: 1.6rem;
}