<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ g.csrf_token }}">

    <title>NEXBLOG.US</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo/favicon.ico')}}"> -->

    
    <!-- Google icon-->    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- Custome CSS Styles-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/root.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/blog.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom_input.css')}}">
    {{ ckeditor.load() }}
</head>
<body>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="{{url_for('static', filename='js/delete_post.js')}}"></script>
    <script src="{{url_for('static', filename='js/delete_subject.js')}}"></script>
</body>
</html>