{% extends 'base.html' %}
{% block content %}

<div class="blog-header">
    {% if blog.header_pic %}
    <img src="{{url_for('static', filename='images/header_pictures/' + blog.header_pic)}}">
    {% endif %}
    <div class="home-icon-header">
        <a class="flex-row-span" href="{{url_for('blog.blog', user_subdomain=subdomain)}}">
            <span class="material-icons-round">home</span>
            <h3>Home</h3>
        </a>
    </div>
    <div class="blog-title">
        <h1>{{blog.blog_title}}</h1>
        <h3>{{blog.blog_subtitle}}</h3>
    </div>
</div>

<div class="blog-container">
    <aside>

        <div class="flex-row-span">
            <span class="material-icons-round">co_present</span>
            <h3>About</h3>
        </div>
        <hr class="line-100">

        <div class="author-img">
            {% if blog.profile_pic %}
            <img src="{{url_for('static', filename='images/profile_pictures/' + blog.profile_pic)}}">
            {% else %}
            <img src="{{url_for('static', filename='images/main/blank-profile-pic.png')}}">
            {% endif %}
        </div>
        <p>{{blog.blog_about}}</p>

        {% if blog.url %}
        <a class="a-span a-btn bg-primary" href="{{blog.url}}" target="_blank">
            <span class="material-icons-round">link</span>
            <span class="font-size-05">{{blog.url}}</span>

        </a>
        {% endif %}



        <div class="flex-row-span margin-top-2rem">
            <span class="material-icons-round">subject</span>
            <h3>Subjects</h3>
        </div>
        <hr class="line-100">
        <a class="aside-subject home-subject flex-row-span" href="{{url_for('blog.blog', user_subdomain=subdomain)}}">
            <span class="material-icons-round">home</span>
            Home Page
        </a>
        {% if subjects %}
        {% for subject in subjects %}
        <a class="aside-subject"
            href="{{url_for('blog.posts_by_subject', user_subdomain=subdomain, subject_id=subject.id)}}">•
            {{subject.name}}
        </a>
        {% endfor %}
        {% endif %}


        <div class="flex-row-span margin-top-2rem">
            <span class="material-icons-round">wysiwyg</span>
            <h3>Reader's Favorites</h3>
        </div>
        <hr class="line-100">
        {% if top_posts %}
        {% for post in top_posts %}
        <a class="a-pop-post" href="{{url_for('blog.view_post', user_subdomain=subdomain, post_id=post.id)}}">
            <div class="pop-post-img">
                {% if post.post_pic %}
                <img src="{{url_for('static', filename='images/post_pictures/' + post.post_pic )}}">
                {% endif %}
            </div>
            <h3>{{post.title}}</h3>
        </a>
        {% endfor %}
        {% endif %}
        <hr class="line-100">

    </aside>

    <section>
        {% block blog %}
        {% endblock %}

    </section>

</div>



<div class="blog-footer">
    <div class="footer-content">
        <h3>{{blog.blog_title}}</h3>
        <h3>{{blog.subdomain}}.nexblog.us</h3>
        <p>Powered By:</p>
        <p> <a href="{{ url_for('main.main') }}" target="_blank">NEXLOG</a> </p>
        <p>Content management system</p>
        <p>©All rights reserved</p>

    </div>
</div>










{% endblock %}