
{% extends 'base.html' %}
{% block content %}

<div class="main">

    <div class="main-table">
        <div class="main-top">
            <div class="logo-sec">
                <h3>NEXLOG</h3>
            </div>
            <div class="login-div">
                <a href="{{ url_for('auth.login') }}"><span class="material-icons-round">login</span>Login</a>
            </div>
        </div>

        <div class="main-info">
            <div>

            </div>
            <div class="img-sec">
                
                <img src="{{url_for('static', filename='images/main/blog-img.png')}}">
                <h3><span>YourName</span>.nexlog</h3>
            </div>
            <div class="register-div">
                <h3>Your favorite place to blog and share ideas.</h3>
                <div class="features">
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-free.png')}}">
                        <h3>Free & Protected</h3>
                    </div>
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-editor.png')}}">
                        <h3>Professional Text Editor</h3>
                    </div>
                    <!-- <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-editor.png')}}">
                        <h3>Easy Post Categorization</h3>
                    </div> -->
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-editor.png')}}">
                        <h3>Connect with Audience</h3>
                    </div>
                    <div>
                        <img src="{{url_for('static', filename='images/main/main-icon-free.png')}}">
                        <h3>Insightful Analytics</h3>
                    </div>
                </div>
                <a href="{{ url_for('auth.register') }}"><span class="material-icons-round">app_registration</span>CREAT YOUR BLOG</a>

            </div>
            
        </div>

    </div>

</div>





    

{% endblock %}

    




<!-- <img src="{{url_for('static', filename='images/main/nexlog-main.png')}}"> -->




<!-- <h1>{{title}}</h1>

    <a href="{{ url_for('auth.register') }}">Register</a> <br>
    <a href="{{ url_for('auth.login') }}">Login</a> -->