{% extends 'blog_base.html' %}
{% block blog %}

{% if post %}

{% endif %}

<div class="view_post">
    <div class="view_post_head">
        <h1>{{post.title}}</h1>
        <h3>{{post.subtitle}}</h3>
    </div>

    <div class="view_post_info">
        <hr class="line-100">
        <div class="post-subject">
            {% if post.subjects %}
            {% for subject in post.subjects %}
            <a class="post-subject"
                href="{{url_for('blog.posts_by_subject', user_subdomain=subdomain, subject_id=subject.id)}}">#{{subject.name}}</a>
            {% endfor %}
            {% endif %}
        </div>
        <div class="post_info">
            <div class="a-span">
                <span class="material-icons-round">newspaper</span>
                <p>Author: {{ blog.author }}</p>
            </div>
            <div class="a-span">
                <span class="material-icons-round">calendar_today</span>
                <p>{{post.created_at.strftime('%H:%M · %B %d, %Y')}}</p>
            </div>
        </div>
        <hr class="line-100">
    </div>

    <div class="view_post_img">
        {% if post.post_pic %}
        <img src="{{url_for('static', filename='images/post_pictures/' + post.post_pic )}}">
        {% endif %}
    </div>

    <div class="view_post_body">
        {{post.body | safe}}
    </div>

    <hr class="line-100">
    <hr class="line-100">
    <div class="view_post_comment">
        <div class="comment_form">
            <h3>Comments:</h3>
            <form method="POST" action="{{ url_for('blog.view_post', user_subdomain=subdomain, post_id=post.id) }}">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                {{ form.name(class="form_string") }}
                {{ form.body(class="comment_text") }}
                {{ form.submit(class="form_btn") }}
            </form>
        </div>

        {% if comments %}
        {% for comment in comments %}
        <hr class="line-100">
        <div class="user_comments">
            <h3>{{comment.name}} <span>{{comment.created_at.strftime('%H:%M · %B %d, %Y')}}</span></h3>
            <p>{{comment.body}}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}
